<!-- ngSyle nos permite añadir estilos directamente utilizando variables del componente-->
<app-navbar></app-navbar>
<div class="container main-container">
    <h1>Demos <small>angular</small></h1>
    <hr>
    <!-- <app-ng-style></app-ng-style> -->
    <!-- <app-clases></app-clases> -->
    <!-- <p>
        Probando css component
    </p>  -->
    <!-- <app-css></app-css> -->


    <!-- usamos una directiva para resaltar el texto -->
    <!-- directiva perzonalizada -->
    <!-- para mandar el color -->
    <!-- <p [appResaltado]="">
        Probando directivas personalizada
    </p>
    <app-ng-switch></app-ng-switch> -->
    <!-- para renderizar las rutas principales -->
    <router-outlet></router-outlet>
</div>